
@media(max-width:768px) {


	#span-bienvenides {
		font-size: 20px;
		font-family: 'Lato', sans-serif; 
	}

	#inicio {
		font-size: 40px;
	}

	#texto-inicio {
		font-size: 16px;
	}

	#article-pilates,
	#article-danza,
	#article-yoga,
	#article-entrenamiento {
		flex-direction: row;
		padding: 20px;
	
	}

	#texto-pilates,
	#texto-entrenamiento,
	#texto-danza,
	#texto-yoga { 
	left: 0px;
    right: 0px;
    margin: auto;
    width: 25%;
    text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	position: absolute;
}

.fotos-cuerpo {
	width: 200px;
	margin: 0px;
	border-radius: 35%;
}

#h3-pilates,
#h3-danza,
#h3-yoga,
#h3-entrenamiento {
	font-size: 30px;
}

#fotografia {
	margin-left: 30px;
}

}
/* porque el text-align no cambia en nada los h3 (? */

@media (max-width: 360px) {
	figure {
		display: flex;
		flex-direction: column-reverse;
		border-style: solid;
		border-color: #f3dbfb;
		padding-left: 2px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #f3dbfb;
	}
	.fotos-cuerpo {
		width: 100px;
		margin: 0px;
		border-radius: 35%;
	}

	#texto-pilates,
	#texto-entrenamiento,
	#texto-danza,
	#texto-yoga { 
	left: 0px;
    right: 0px;
    margin: auto;
    width: 25%;
    text-align: center;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	position: relative;
}

	#h3-pilates,
	#h3-danza,
	#h3-yoga,
	#h3-entrenamiento {
	font-size: 18px;
	padding: 0;
}

img#ilustracion {
    width: 200px;
	max-width: 100%;
	margin: auto;
	border-radius: 35%;
}
#logo,
#logo-footer {
	width: 80px;
	border-radius: 50%;
	transition: all 1s ease;
}
}
