* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	
}

/*header*/

#section {
	background-color:#65cdfc;;
}

#english {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #000000;
	background-color:  #65cdfc;
	padding-left: 5px;
	padding-top: 5px;
	
}

#burger-menu-toggler {
	display: none;
}


#logo,
#logo-footer {
	width: 120px;
	border-radius: 50%;
	transition: all 1s ease;
}

img#logo:hover,
img#logo-footer:hover {
	transform: scale(1.5);

}


ul#listaInicio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 50px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #000000;
	background-color:  #65cdfc;
	position: relative;
	scroll-behavior: smooth;
	}
	

figure {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-color: #f3dbfb;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:  #f3dbfb;
}


figure:nth-child(2) {
	align-items: flex-end;
	

}

img#ilustracion {
    width: 25%;
	max-width: 100%;
	margin: auto;
	border-radius: 35%;
}

figcaption h1 {
	font-size: 85px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif; 
	
}


figcaption p {
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

a:link {
	color: #000000;
  }

a:visited {
	color:#000000
}

a:hover,
#english:hover {
	color: #f3dbfb;
}

a {
	scroll-behavior: smooth;
}

#span-bienvenides {
	font-size: 40px;
	font-family: 'Lato', sans-serif; 
}


/* main */

.areas	{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-style: solid;
	border-color: #ffffff;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 15px #5ec2f0;
	background-color: #ffffff;
	
}

#texto-pilates,
#texto-entrenamiento,
#texto-danza,
#texto-yoga { 
	left: 0px;
    right: 0px;
    margin: auto;
    width: 25%;
    text-align: center;
	position: absolute;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	
}


.fotos-cuerpo {
	width: 25%;
	margin: 0px;
	border-radius: 35%
}

h3.titulos-areas {
	font-size: 40px;
	font-family: 'Lato', sans-serif; 
	text-align: center	
}

#h3-yoga {
	padding-right: 100px;
}

#h3-pilates,
#h3-danza {
	padding-left: 80px;
}


ul#listaRedes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 50px;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	color: #000000;
	background-color:  #f3dbfb; 
	position: relative;
	box-shadow: 0px 0px 15px #5ec2f0;
}

#li-redes {
	scroll-behavior: smooth;
}

#listaIg:hover,
#listaFc:hover,
#listaYouTube:hover {
	color:  #5ec2f0;
}
/* ver el temita de los iconos y por qué no me toma el hoover puse también con el id del ul y no pasa nada*/



/* footer */ 


ul#listaFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #000000;
	background-color:  #65cdfc;
	position: relative;
	
}

/* responsive TABLET */ 

@media(max-width:768px) {

	ul#listaInicio {
		display: none;
	}

	#section {

	display: flex;
    justify-content: space-between;
	align-items: center;
    background: #65cdfc;
	height: 45px; 
}

	

	#burger-menu-toggler {
		display: block;
		background-color: #65cdfc;
		position: absolute;
		right: 20px;
		z-index: 2;
	}

	#burger-menu-toggler:hover {
		color:#f3dbfb;
	}

	#close-mobile-menu {
		display: none;
		
	}
	

	body.mobile-menu-item {
		overflow: hidden;
	}

	body.mobile-menu-active #open-mobile-menu {
        display: none;   
    }
    body.mobile-menu-active #close-mobile-menu {
        display: block;   
    }

    body.mobile-menu-active ul#listaInicio {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background: #65cdfc;  
    }

	figure {
		
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		border-style: solid;
		border-color: #f3dbfb;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #f3dbfb;
	}
	
	h1 {
		text-align: center;
		font-size: 60px;
	}

	#span-bienvenides {
		font-size: 50px;
		font-family: 'Lato', sans-serif; 
		text-align: center;
	}
	figure img#ilustracion {
		width: 100%;
	}

	#inicio {
		font-size: 40px;
	}

	#texto-inicio {
		font-size: 30px;
		text-align: center;
	}

	#article-pilates,
	#article-danza {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	
	}

	#article-yoga,
	#article-entrenamiento {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	#texto-pilates,
	#texto-entrenamiento,
	#texto-danza,
	#texto-yoga { 
	left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    text-align: center;
	font-size: 35px;
	font-family: 'Lato', sans-serif;
	position: relative;
	padding: 20px;
}

.fotos-cuerpo {
	width: 80%;
	margin: 0px;
	border-radius: 35%;
}

#h3-pilates,
#h3-danza,
#h3-yoga,
#h3-entrenamiento {
	font-size: 70px;
	padding: 0;
}


ul#listaFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.li-footer {
	padding: 10px;
}

}
/* RESPONSIVE CELU */

@media (max-width: 360px) {

	ul#listaInicio {
		display: none;
	}

	#burger-menu-toggler {
		display: block;
		background-color: #65cdfc;
		position: absolute;
		right: 36px;
		z-index: 2;
	}

	nav {
		background-color: #65cdfc ;
	}

	#english {
		font-size: 14px;
		padding-left: 15px;
	}

	#close-mobile-menu {
		display: none;
		
	}

	
	

	body.mobile-menu-item {
		overflow: hidden;
	}

	body.mobile-menu-active #open-mobile-menu {
        display: none;   
    }
    body.mobile-menu-active #close-mobile-menu {
        display: block;   
    }

    body.mobile-menu-active ul#listaInicio {

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1;
        background: #65cdfc;  
    }

	figure {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		border-style: solid;
		border-color: #f3dbfb;
		background-color: #f3dbfb;
		padding: 20px;
	}

	#span-bienvenides {
		font-size: 30px;
		font-family: 'Lato', sans-serif;
		text-align: center;
	}

	#texto-inicio {
		font-size: 20px;
		text-align: center;
		width: 100%;
	}

	#article-pilates,
	#article-danza {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	
	}

	#article-yoga,
	#article-entrenamiento {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	

	#texto-pilates,
	#texto-entrenamiento,
	#texto-danza,
	#texto-yoga { 
	left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    text-align: center;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	position: relative;
	padding: 10px;
}

	#h3-pilates,
	#h3-danza,
	#h3-yoga,
	#h3-entrenamiento {
	font-size: 30px;
	padding: 0;
}

	figure img#ilustracion {
    width: 100%;
	max-width: 100%;
	border-radius: 35%;
}
#logo,
#logo-footer {
	width: 80px;
	border-radius: 50%;
	transition: all 1s ease;
}
ul#listaRedes {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    background-color: #f3dbfb;
    position: relative;
    box-shadow: 0px 0px 15px #5ec2f0;
}

ul#listaFooter {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
    padding: 5px;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    background-color: #65cdfc;
    position: relative;
}



}




